
dist
build
.next

node_modules
.pnpm-store

package.json
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-workspace.yaml


tsconfig.json
.prettierrc
eslint.config.mjs


.env
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.git
.cache
.github/workflows/

public/
*.png
*.jpg
*.svg