@import 'tailwindcss';

/* Colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #6e07f3;
  --text-subtitle: #52525c;
  --logo-color: #6e07f3;
}

/* Colors Dark */
:root.dark {
  --background: #171717;
  --foreground: #ffffff;
  --text-primary: #15b638;
  --text-subtitle: #9f9fa9;
  --logo-color: #15b638;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-snap-type: y mandatory;

  h1 {
    font-family: var(--font-title);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-subtitle);
  }

  p {
    font-family: var(--font-text);
  }
}

@theme {
  --breakpoint-mobile: 360px;
  --breakpoint-tablet: 480px;
  --font-title: var(--font-title);
  --font-subtitle: var(--font-subtitle);
  --font-text: var(--font-text);
  --color-subtitle: var(--text-subtitle);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--text-primary);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    color-scheme: light;
  }

  :root.dark {
    color-scheme: dark;
  }
}
