@import 'tailwindcss';

/* Colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #6e07f3;
}

/* Colors Dark */
:root.dark {
  --background: #171717;
  --foreground: #ffffff;
  --text-primary: #15b638;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --font-title: var(--font-title);
  --font-subtitle: var(--font-subtitle);
  --font-text: var(--font-text);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--text-primary);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    color-scheme: light;
  }

  :root.dark {
    color-scheme: dark;
  }
}
